// Toxicity Default Theme Color Palette

// Red
$red-light: #ff4b5c;
$red-dark: #ff7c87;

// Pink
$pink-light: #ff6394;
$pink-dark: #ff8baa;

// Purple
$purple-light: #9b70f2;
$purple-dark: #b28bf6;

// Blue
$blue-light: #4f9bf3;
$blue-dark: #79b4f7;

// Teal
$teal-light: #38d1b1;
$teal-dark: #64ddc1;

// Cyan
$cyan-light: #54f7e1;
$cyan-dark: #7efae8;

// Green
$green-light: #8ced5f;
$green-dark: #a4f48a;

// Yellow
$yellow-light: #f0e243;
$yellow-dark: #f4eb73;

// Orange
$orange-light: #ffa94b;
$orange-dark: #ffbf79;

// Accent Color
$accent-light: #8ced5f;
$accent-dark: #8ced5f;

// Grey
$grey-050: #e9e9ed;
$grey-100: #e1e2e7;
$grey-150: #d2d2da;
$grey-200: #c7c7d1;
$grey-250: #bcbcc8;
$grey-300: #b6b8cd;
$grey-350: #aaacc5;
$grey-400: #a9b1d6;
$grey-450: #848cb5;
$grey-500: #737aa2;
$grey-550: #545c7e;
$grey-600: #414868;
$grey-650: #3b4261;
$grey-700: #323449;
$grey-750: #292e42;
$grey-800: #1f2231;
$grey-850: #1a1b26;
$grey-900: #15161e;
$grey-950: #111118;

// White
$white: #e9e9ed;

// Black
$black: #1a1b26;

// Theme
$default-light: $accent-light;
$default-dark: $accent-dark;

// Button
$button-close: if($topbar == 'light', #ff4b5c, #ff4b5c);
$button-max: if($topbar == 'light', #8ced5f , #8ced5f);
$button-min: if($topbar == 'light', #f0e243 , #f0e243);
